@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.main-height {
	min-height: calc(100vh - theme('spacing.36'));
}

.footer-icon {
	@apply mx-1 md:mx-4 cursor-pointer hover:text-gray-500 active:text-gray-600;
}

.btn.blue {
	@apply bg-blue-600 hover:bg-blue-700 active:bg-blue-800 text-white
}