@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html { font-family: 'Inter', sans-serif; scroll-behavior: smooth }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.main-height-full {
	min-height: calc(100vh - theme('spacing.16'));
}

.main-height {
	min-height: calc(100vh - theme('spacing.36'));
}

.footer-icon {
	@apply mx-1 md:mx-4 cursor-pointer hover:text-gray-600 active:text-gray-700;
}

.btn {
	@apply cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2
}

.btn.blue {
	@apply bg-blue-600 hover:bg-blue-700 active:bg-blue-800 text-white focus:ring-blue-500
}

.btn.gray {
	@apply bg-gray-400 hover:bg-gray-500 active:bg-gray-600 text-white focus:ring-gray-300
}